
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}body{
    background-color: aquamarine;
}
.container{
    align-items: center;
    max-width: 1500px;
    padding: 0 auto;
}
.apply_box{
    font-size:x-large;
    font-style: oblique;
    max-width: 1000px;
    padding: 80px;
    margin: 0 auto;
    background-color: aliceblue;
    margin-top: 50px;
    box-shadow: 4px 3px 5px;
    border-radius: 10PX rgba(1,1,1,0.1);
    border-radius: 10px;

}
.fcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    margin-top: 50px;
  
}
.fcontainer{
    display: flex;
   flex-direction: column; 
   font-display: 10px;
   size: 50px;
}
label{
    font-size: 30px;
    margin-bottom: 20px;font-style:oblique;
    font-family: Arial, Helvetica, sans-serif;

}
input{
    padding: 10px 20px;
    
}
input:focus{
    outline-color: #000;
    box-sizing: border-box;
}
.button{

    display: flex;
    justify-content:first baseline ;
    size: 50px;
    margin-left: 20px;
    margin-top: 20px;
    
}
